@{
    ViewBag.Title = "Images";
    int id = 0;
}

<h2>Images</h2>

<div class="row">
    @for (int i = 0; i < ViewBag.Images.Count; i++)
    {
        <a href="/Home/SingleImage/@id" id="@id">
            <div class="col-md-2 text-center">
                <img src="~/fonts/private.png"/>
                <label class="text-center" style="padding-left: 10px">@ViewBag.Images[i]</label>
            </div>
        </a>
        id++;
    }
</div>