@{
    ViewBag.Title = "Images";
}

<h2>Images</h2>
<div class="col-md-12 text-left">
    <div class="row">
        <ul class="vert_menu">
            <li><a href="/Home/Library" class="current">User</a></li>
             <li><a href="/Home/Images" class="current">Shared folder</a></li>
        </ul>
    </div>
</div>
<div class="row">
    @foreach (var i in ViewBag.Images)
    {
        <a href="/Home/SingleImage?image=@i">
            <div class="col-md-2 text-center" style="margin-bottom: 60px">
                <img src="@Url.Content(i)" alt="@i" style="width: 128px; height: 128px" />
                <label class="text-center">@Path.GetFileName(i)</label>
            </div>
        </a>
    }
</div>