@{
    ViewBag.Title = "Images";
}

<h2>Images</h2>

<div class="row">
    @foreach (var i in ViewBag.ImagePath)
    {
            <div class="col-md-2 text-center" style="margin-bottom: 60px">
                <img src="@Url.Content(i)" alt="@i" style="width: 128px; height: 128px"/>
                <label class="text-center">@Path.GetFileName(i)</label>
            </div>
    }
</div>