
@{
    ViewBag.Title = "Welcome to ScreenTaker";
    int counter = 0;
    ViewBag.LorenIpsum = "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui. Quisque nec mauris sit amet elit iaculis pretium sit amet quis magna. Aenean velit odio, elementum in tempus ut, vehicula eu diam. Pellentesque rhoncus aliquam mattis. Ut vulputate eros sed felis sodales nec vulputate justo hendrerit. Vivamus varius pretium ligula, a aliquam odio euismod sit amet. Quisque laoreet sem sit amet orci ullamcorper at ultricies metus viverra. Pellentesque arcu mauris, malesuada quis ornare accumsan, blandit sed diam.";
}


<div class="jumbotron">
    <h1>ScreenTaker</h1>
    <p class="lead">Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів. "Риба" не тільки успішно пережила п'ять століть, але й прижилася в електронному верстуванні, залишаючись по суті незмінною. Вона популяризувалась в 60-их роках минулого сторіччя завдяки виданню зразків шрифтів Letraset, які містили уривки з Lorem Ipsum, і вдруге - нещодавно завдяки програмам комп'ютерного верстування на кшталт Aldus Pagemaker, які використовували різні версії Lorem Ipsum.</p>
  
    <div class="row">
        <div class="col-md-4">
       </div>
        <div class="col-md-4">
            @using (Html.BeginForm("", "Home/Index", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @*<input type="file" name="file" />*@
                <input class="btn btn-primary btn-lg center-block" type="submit" />
            }
       </div>
        <div class="col-md-4">
      </div>
    </div>
</div>

<div class="container jumbotron">
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <h2>About Screen Taker</h2>
            <p>@ViewBag.LorenIpsum</p>
        </div>
        <div class="col-md-2">
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <h2>Capturing full screen</h2>
            <p>@ViewBag.LorenIpsum</p>
        </div>
        <div class="col-md-2">
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <h2>Get more libraries</h2>
            <p>@ViewBag.LorenIpsum</p>
       </div>
        <div class="col-md-2">
        </div>
    </div>
</div>
