
@{
    ViewBag.Title = "Welcome to ScreenTaker";
    int counter = 0;
    ViewBag.LorenIpsum = "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui. Quisque nec mauris sit amet elit iaculis pretium sit amet quis magna. Aenean velit odio, elementum in tempus ut, vehicula eu diam. Pellentesque rhoncus aliquam mattis. Ut vulputate eros sed felis sodales nec vulputate justo hendrerit. Vivamus varius pretium ligula, a aliquam odio euismod sit amet. Quisque laoreet sem sit amet orci ullamcorper at ultricies metus viverra. Pellentesque arcu mauris, malesuada quis ornare accumsan, blandit sed diam.";
}


<div class="row">
    <div class="col-lg-12 col-md-9 col-sm-12">
        <div class="jumbotron" >
            <h1 class="text-color">ScreenTaker</h1>
            <p class="lead-site">@ViewBag.LorenIpsum</p>

            <div class="row">
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                    @using (Html.BeginForm("", "Home/Index", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    { 
                        <input id="fileInput" style="visibility:collapse" type="file" name="file" onchange="document.getElementById('fileSubmit').click();" />
                        <input id="fileSubmit" style="visibility:collapse" type="submit" value="bla" />
                        <input type="button" class="btn btn-primary btn-lg center-block" style="width:200px; height:70px;" value="Upload image" onclick="document.getElementById('fileInput').click();" />
                    }
                </div>
                <div class="col-md-4">
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-lg-12 col-md-9 col-sm-12">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                </div>
                <div class="col-md-8">
                    <h2>About Screen Taker</h2>
                    <p>@ViewBag.LorenIpsum</p>
                </div>
                <div class="col-md-1">
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                </div>
                <div class="col-md-8">
                    <h2>Capturing full screen</h2>
                    <p>@ViewBag.LorenIpsum</p>
                    <img src="~/Resources/images/printscreen.png" class="welcome-image" />
                </div>
                <div class="col-md-2">
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                </div>
                <div class="col-md-8">
                    <h2>Features</h2>
                    <p>@ViewBag.LorenIpsum</p>
                </div>
                <div class="col-md-2">
                </div>
            </div>
        </div>
    </div>
</div>
        
