@{
    ViewBag.Title = "Library";
}

<div class="container">
    <div class="col-md-9">
        @for (int i = 0; i < ViewBag.Folders.Count; i++)
        {
            <figure class="col-md-3 library-folder text-center">
                <img src="~/fonts/private.png" />
                <figcaption class="text-center">@ViewBag.Folders[i].Title</figcaption>
            </figure>
        }
    </div>
    <div class="col-md-3" style="background-color: #686868; height: 90vh">
        <div style="margin-left: 10px">
            <img src="~/fonts/private.png" />
            <p>Folder`s name</p>
            <hr/>
            <div>
                <button type="button" class="btn btn-default">Open</button>
                <button type="button" class="btn btn-default">Rename</button>
                <button type="button" class="btn btn-danger">Delete</button>
            </div>
            <br/>
            <button class="btn btn-warning">Make folder public</button>
            <hr/>
            <p>Share folder</p>
            <input class="form-control" type="text" placeholder="Sharing link"/>
            <hr/>
        </div>
    </div>
</div>