@if (ViewBag.UserFolders != null && ViewBag.UserFolders.Count > 0)
{
    for (int i = 0; i < ViewBag.UserFolders.Count; i++)
    {
        string itemClass = "list-group-item";
        string folderTitle = ViewBag.UserFolders[i].Name;
        <div class="@itemClass">
            <div class="media-body" style="vertical-align:middle">
                <h5 class="media-heading">@folderTitle</h5>
            </div>
            <div class="media-right" style="vertical-align:middle;">
                <button type="button" class="btn right btn-primary btn-not-rounded" aria-label="Left Align" onclick="location.href='@Url.Action("MoveItMoveIt","Home",new {folderId=ViewBag.UserFolders[i].Id})&imageSharedCode='+document.getElementById('original').value">
                    Move here
                </button>
            </div>
        </div>
    }
}