@{
    ViewBag.Title = "SharedImage";
    if (!Request.QueryString["lang"].IsEmpty())
    {
        Culture = UICulture = Request.QueryString["lang"];
    }
    else
    {
        Culture = UICulture = ViewBag.Localize ?? "en";
    }


}

@if (ViewBag.AccessGranted)
{
    <div class="row shared-image">
        <div class="col-md-12">
            <div class="row">
                <div class="col-sm-12" style="padding-left: 40px; padding-right: 40px;">
                    <div class="row text-center">
                        <img src="@ViewBag.OriginalPath" class="single-image"/>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="text-md-center">
                                    <h3 class="text-center">@ViewBag.OriginalName</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="row" style="margin-top: 20px; overflow: hidden; position: relative;">
        <div class="col-md-12">
            <div class="row">
                <div class="col-sm-12 item-container">
                    <div class="text-md-center">
                        <h2 class="text-center">Access denied</h2>
                        <p class="text-center">Image owner has restricted access to this image</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
}