@{
    ViewBag.Title = "Images";


    string ShareLink = "";
    string CommpressedLink = "";
    string Name = "";

    if (!ViewBag.IsEmpty)
    {
        ShareLink = ViewBag.BASE_URL + "Home/SharedImage?i=" + ViewBag.Images[0].SharedCode;
        CommpressedLink = ViewBag.BASE_URL + "img/" + ViewBag.Images[0].SharedCode + "_compressed.png";
        Name = ViewBag.Images[0].Name + ".png";
    }
    if (!Request.QueryString["lang"].IsEmpty())
    {
        Culture = UICulture = Request.QueryString["lang"];
    }
    else
    {
        Culture = UICulture = ViewBag.Localize ?? "en";
    }

}
@section Scripts {
    <script>
        function openImage(path) {
            location.href = "/Home/SharedImage?i=" + path;
            return false;
        }   
    </script>
}

<div class="row" style="margin-bottom: -20px; overflow: hidden; position: relative; min-height: 800px">
    <div class="col-md-12">
        <div class="col-sm-12" style="padding-left:25px;padding-right:25px;">
            <div class="row">
                <div class="col-sm-10">
                    <h2>@ViewBag.FolderName</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12" style="padding-left:40px;padding-right:40px;">
            @foreach (var i in ViewBag.Images)
            {
                string original = i.SharedCode;
                string sharedLink1 = ViewBag.BASE_URL + "Home/SharedImage?i=" + original;
                string compressed = ViewBag.BASE_URL + "img/" + i.SharedCode + "_compressed.png";
                string name = i.Name + ".png";
                int length = name.Length;
                int size = length <= 15 ? length : 15;
                name = name.Substring(0, size);
                <div onclick="openImage('@original')" style="cursor:pointer;">
                    <div class="floating-box text-center task active images" style="padding-top: 10px; ">
                        <div style="width: 128px; height: 128px;background:url(@compressed) no-repeat center center;" class="center-block">
                        </div>
                        <label class="text-center">@name</label>
                    </div>
                </div>
            }
            </div>
        </div>
    </div>
</div>
