@{
    ViewBag.Title = "SharedImage";
}

@if (ViewBag.AccessGranted)
{
    <br/>
    <div class="col-md-12 text-center">
        <img src="@ViewBag.ImagePath"/>
        <h2>@ViewBag.ImageName</h2>
    </div>
}
else
{
    <br/>
    <div class="col-md-12 text-left">
        <h2>Access denied</h2>
        <p>Image owner has restricted access to this image</p>
    </div>
}