@{
    ViewBag.Title = "Login Failure";
        if (!Request.QueryString["lang"].IsEmpty())
        {
            Culture = UICulture = Request.QueryString["lang"];
        }
        else
        {
            Culture = UICulture = ViewBag.Localize ?? "en";
        }
}

<hgroup>
    <h2>@ViewBag.Title.</h2>
    <h3 class="text-danger">Unsuccessful login with service.</h3>
</hgroup>
