@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<div class="container" style="margin-top: 20px">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4 account-style shadow center-block">
            <section id="paswordConfirm">
                <div class="col-sm-12 text-center center-block">
                    <div class="row text-center" style="margin-top: 5px">
                        <img src="~/Resources/Ok.png" />
                    </div>
                    <h4>Please check your email to reset your password</h4>
                    <hr/>
                    <div class="text-center">
                        <h4>
                            @Html.ActionLink("Return to Log in", "Login", "Account", new {@class = "account-link"})
                        </h4>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
	
