<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
  
  <add name="ScreenTakerDBEntities" connectionString="metadata=res://*/DAL.ScreenTakerDataModel.csdl|res://*/DAL.ScreenTakerDataModel.ssdl|res://*/DAL.ScreenTakerDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=screentakerserver.database.windows.net;initial catalog=ScreenTakerDB;persist security info=True;user id=dbadmin;password='123qwe?&quot;&quot;}';multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>