
@{
    if (ViewBag.Title == null)
    {
        ViewBag.Title = "Info";
    }
    if (!Request.QueryString["lang"].IsEmpty())
    {
        Culture = UICulture = Request.QueryString["lang"];
    }
    else
    {
        Culture = UICulture = ViewBag.Localize ?? "en";
    }
}

<div class="container account-form">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4 account-style shadow center-block">
            <section id="paswordConfirm">
                <div class="col-sm-12 text-center center-block">
                    <div class="row text-center" style="margin-top: 5px">
                        <img src="~/Resources/Ok.png"/>
                    </div>
                    <h2>@Resources.Resource.PASSWORD_CHANGE</h2>
                    <h4>@Resources.Resource.PASSWORD_CHANGE_SUCCESS</h4>
@*                    <hr />*@
@*                    <div class="text-center">*@
@*                        <h4>*@
@*                            @Html.ActionLink(@Resources.Resource.RETURN_TO_LOGIN, "Login", "Account", new { @class = "account-link" })*@
@*                        </h4>*@
@*                    </div>*@
                </div>
            </section>
        </div>
    </div>
</div>